<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
        <ion-button href="/home">Home</ion-button>
        <ion-button href="/adv-cards">Maps</ion-button>
    </ion-buttons>
  </ion-toolbar>
<link rel="stylesheet" type="text/css" href="assets/css/celulas.css" />
<link rel="screen" type="text/css" href="./screen.css" />
<script src="celulas.js" language="javascript" type="text/javascript"></script>
</ion-header>
<ion-content nLoad="play('assets/sound/intro')" src="asset">
  <table style="width:100%">
    <tr>
      <th style="text-align: left;">
        <img id="tl" src="assets/gifs/celulabg.gif" width="255px" height="168px" />
      </th>
      <th></th>
      <th style="text-align: right;">
        <img id="tr" src="assets/gifs/celulabg.gif" width="255px" height="168px" />
      </th>
    </tr>
    <tr>
      <th>
          <img id="know" class="m_out" src="assets/gifs/know.gif" width="177px" height="72px" onMouseOver="this.className='m_over'"
          onmouseout="this.className='m_out'" onClick="window.open('know/select.html', '', 'width=790px,height=600px')" />
      </th>
      <th></th>
      <th>
          <img id="test" class="m_out" src="assets/gifs/test.gif" width="174px" height="38px" onMouseOver="this.className='m_over'" 
          onmouseout="this.className='m_out'" onClick="window.open('ex1/ex1.html', '', 'width=790px,height=600px')" />
      </th>
    </tr>
    <tr>
      <th></th>
      <th>
        <img style="text-align: center" id="video" src="assets/gifs/intro.gif" width="320px" height="240px" />
      </th>
      <th></th>
    </tr>
    <tr>
      <th>
        <img id="bl" src="assets/gifs/celulabg.gif" width="255px" height="168px" />
      </th>
      <th></th>
      <th>
        <img id="br" src="assets/gifs/celulabg.gif" width="255px" height="168px" />
      </th>
    </tr>
    <tr>
      <th>
        <img id="help" class="m_out" src="assets/gifs/help.gif" width="105px" height="45px" onMouseOver="this.className='m_over'" 
          onmouseout="this.className='m_out'" onClick="window.open('help.html', '', 'width=710px,height=550px,scrollbars')" />
      </th>
      <th></th>
      <th>
        <img id="sobre" class="m_out" src="assets/gifs/sobre.gif" width="105px" height="36px" onMouseOver="this.className='m_over'" 
          onmouseout="this.className='m_out'" onClick="window.open('sobre.html', '', 'width=710px,height=550px')" />
      </th>
    </tr>

  </table>
<div id="sound"></div>
</ion-content>

